<div class="container">
 
<div style="margin-bottom: 20px;" class="container col-md12">
  <h2>Anket Sonuçları</h2>
</div>

<div class="anket-sonuclari">
    
<div class="">
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let tutorial of tutorials; let i = index"
      [class.active]="i == currentIndex"
      (click)="setActiveTutorial(tutorial, i)"
    >
      {{ tutorial.title }}
    </li>
  </ul>
  </div>
  <div class="">
    <canvas style="width:400px;height: 400px;" class="anket-grafik" id="anket-grafik"></canvas>
  </div>
    
</div>

 
</div>