<!-- <div class="anket-formu">
    <h2>Anket Formu</h2>
    <form (ngSubmit)="formGonder(ad.value, email.value, soru.value)">
      <div class="form-group">
        <label for="ad">Adınız</label>
        <input type="text" id="ad" name="ad" class="form-control" required #ad>
      </div>
      <div class="form-group">
        <label for="email">E-posta Adresiniz</label>
        <input type="email" id="email" name="email" class="form-control" required #email>
      </div>
      <div class="form-group">
        <label for="soru">Sorunuz</label>
        <textarea id="soru" name="soru" class="form-control" rows="5" required #soru></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Gönder</button>
    </form>
  </div>
   -->

 <!--<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="tutorial.title" name="title" />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" id="description" required [(ngModel)]="tutorial.description" name="description" />
        <tr *ngFor="let field of fieldArray; let i = index">
          <td>
            <div class="input-group">
              <div class="x-circle-fill">
                <div (click)="deleteFieldValue(i)">
                  <link rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                  </svg>
                </div>
              </div>
              <input class="form-control" required [(ngModel)]="tutorial.description" />
            </div>
          </td>
        </tr>
      </div> -->


<!-- ------------------------------------------ -->


<div class="container">  
    
  <h1> Anket OLuştur ve Gönder </h1>  
    
  <form [formGroup]="productForm">  
      
    <p>  
      <label for="name">Anket Sorusu:</label>  
      <input type="text" id="name" name="name" formControlName="name" class="form-control">  
    </p>  
    
    <table class="table table-bordered" formArrayName="quantities">  
      <tr>  
        <th colspan="2">Çoklu Seçenek Ekle:</th>  
        <th width="150px"><button type="button" (click)="addQuantity()" class="btn btn-success-secondary">Seçenek Ekle</button></th>  
      </tr>  
      <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">  
        <td>  
            Seçenek :  
            <input type="text" formControlName="qty" class="form-control">  
        </td>    
        <td>  
            <button (click)="removeQuantity(i)" class="btn btn-danger-secondary">Kaldır</button>  
        </td>  
      </tr>  
    </table>  
     
    <button (click)="saveTutorial()" class="btn btn-success">Onayla ve Gönder</button>  
      
  </form>  
      
  <br/>   
</div> 

<!-- ------------------------------------------ -->


       <!-- <button (click)="saveTutorial()" class="btn btn-success">Submit</button> 
      <button class="btn btn-success btn-sm" type="button" (click)="addFieldValue()" style="margin-right:10px">Add More
        Item</button> 
      <button (click)="addTutorial()" class="btn btn-success">Add Item</button>

    </div>

    
  </div>
</div> -->
<!-- <div *ngIf="submitted">
  <h4>Tutorial was submitted successfully!</h4>
  <button class="btn btn-success" (click)="newTutorial()">Add</button>
</div> -->